body {
    background-color: azure;
}

.album_name {
    color: rebeccapurple;
    text-align: center;
    border-bottom: 2px solid grey;
}

.review {
    max-width: 600px;
    margin: auto;
    font-family: FreeSans, serif;
}

.back {
    text-align: center;
    font-family: FreeSans, serif;
    font-size: 25px;
}

#recordType {
    font-size: 10px
}

section + section {
    margin-top: 3rem;
    padding-top: 3rem;
}
